.main-song_list {
    &-item {
        color: white;
        font-weight: bold;
        padding: 8px 12px;
        border-left: 3px solid #d7e2eb;

        &-title {
            margin: 0;
            font-size: 0.9rem;
        }

        &-requestor_name {
            margin: 0;
            font-size: 0.75rem;
        }

        &:first-of-type {
            border-color: #0078ff;
        }

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }
}
