.main-song_list {
    &-wrapper {
        padding: 20px;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        color: white;
        margin-bottom: 15px;
    }
}
