.main-content {
    &-wrapper {
        display: flex;
        height: calc(100vh - 60px);
    }

    &-left {
        flex: 8;
    }

    &-right {
        flex: 2;
        box-shadow: -3px 0px 3px 1px rgba(0, 0, 0, 0.1);
        background-color: #232323;
    }
}

@media screen and (max-width: 768px) {
    .main-content {
        &-wrapper {
            flex-direction: column-reverse;
            height: auto;
        }

        &-left {
            flex: inherit;
        }

        &-right {
            flex: inherit;
        }
    }
}
